<div class="parent">
    <div class="p1">
    <div class="child1">
        <h1 style="color: brown;">School User Login</h1>
    </div>
    <div class="child2">
        <form>
            <label>Email:-</label>
            <input id="email" type="text"  placeholder="Email" required><br>
            <label>Password:-</label>
            <input type="password" placeholder="Password" required><br>
            <button routerLink="/dashbord">Login</button><br>
            <a href="" style="color: blue;text-decoration: none;">Forgotten Password?</a>
        </form>
    </div>
    </div>
</div>