.p1{
    height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px black;
}
.c1{
    height:6%;
    width:100%;
    background-color: bisque;
    text-align: center;
    color: brown;
    text-decoration: underline;
}
.c2{
    height: 90%;
    width: 100%;
    overflow: auto;
}
label{
    margin: 15px;
    width: 150px;
    font-weight: 700;
}
form{
    padding-left: 325px;
    margin-top: 10px;
}
