<div class="p1">
    <div class="c1">
        <h2>STUDENT DETAILS</h2>
        <form>
            <label>Name:-</label>
            <input type="text"><br>
            <label>Class:-</label>
            <input type="number"><br>
            <label>Email ID:-</label>
            <input type="text"><br>
            <div>
                <label>Gender:-</label>
                <input type="radio" name="m">
                <label>Male</label>
                <input type="radio" name="m">
                <label>Female</label>
            </div>
            <textarea name="" id="" cols="50" rows="4">Detail of the student:-</textarea>
            <br>
            <button>Add Student</button>
        </form>
    </div>
</div>