<div class="parent">
    <div class="top">
        <h1><ins>STUDENTS DETAILS TABLE</ins></h1>
    </div>
    <div class="bot">
        <div class="order">
            <input type="text" [(ngModel)]="data" (keyup)="studentfilter()" placeholder="Search">
            <label>Sorting</label>
            <select [(ngModel)]="asc">
                <option>Class</option>
                <option>Name</option>
            </select>
        
            <select [(ngModel)]="dsc">
                <option>asc</option>
                <option>desc</option>
            </select>
            <button (click)="studentsort()">Sort</button>
            <label>Page View/List</label>
            <select [(ngModel)]="top">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <select [(ngModel)]="bottom">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <button (click)="studentpage()">Select Pages </button>
        </div>

        <div>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Name</th>
                        <th>iD number</th>
                        <th>Class</th>
                        <th>Image</th>
                        <th>Father Name</th>
                        <th>Email</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Type of the Student</th>
                        <th>Marks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students let i=index">
                        <td>{{i+1}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.id}}</td>
                        <td>{{student.class}}</td>
                        <td>
                            <img src="{{student.avatar}}"height="80px" width="100px">
                        </td>
                        <td>{{student.fatherName}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.dob}}</td>
                        <td>{{student.male}}
                            {{student.female}}
                        </td>
                        <td>
                            {{student.address.line}}
                            {{student.address.city}}
                            {{student.address.state}}
                            {{student.address.pin}}
                        </td>
                        <td>
                            {{student.type}}
                            Bus Fee:-{{student.bus}}
                            Hostel Fee:-{{student.hostl}}
                        </td>
                        <td [ngStyle]="{color:student.percentage>=35?'green':'red'}">
                            Percntage:-{{student.percentage}}
                            Class:-{{student.class}}
                            Year:-{{student.year}}
                        </td>
                        <td>
                            <button id="del" (click)="deletestudent(student.id)" class="btn btn-danger">Delete</button>
                            <button id="edit" class="btn btn-warning" (click)="edit(student.id)">Edit</button>
                            <button id="view" class="btn btn-info" (click)="view(student.id)">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>