.p1{
    height: 100vh;
    width: 100vw;
}
.c1{
    height: 10%;
    width: 100%;
    text-align: center;
    text-decoration: solid;
}
.c2{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}